In [1]:
import pandas as pd

1. Load the dataset into a pandas DataFrame

In [7]:
df = pd.read_csv(r"C:\Users\rohini\Downloads\sales_data.csv")

2. Display the first 4 rows of the DataFrame

In [10]:
print("First 4 rows of the dataset:")
print(df.head())

First 4 rows of the dataset:
   Order ID                     Product  Quantity Ordered  Price Each  \
0    176558        USB-C Charging Cable                 2       11.95
1    176559  Bose SoundSport Headphones                 1       99.99
2    176560                Google Phone                 1      600.00
3    176561            Wired Headphones                 3       11.99
4    176562    Lightning Charging Cable                 1       14.95

  Order Date         City
0  1/22/2023     New York
1  1/23/2023  Los Angeles
2  1/23/2023      Chicago
3  1/24/2023      Houston
4  1/24/2023     New York

3. Check for any missing values in the dataset

In [9]:
print("\nMissing values in the dataset:")
print(df.isnull().sum())

Missing values in the dataset:
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
City                0
dtype: int64

4. Add a new column Total Sales that multiplies Quantity Ordered by Price Each

In [11]:
df['Total Sales'] = df['Quantity Ordered'] * df['Price Each']

5. Find the total sales for each city and display it as a new DataFrame

In [12]:
city_sales = df.groupby('City')['Total Sales'].sum().reset_index()
city_sales = city_sales.rename(columns={'Total Sales': 'Total Sales (City)'})
print("\nTotal sales for each city:")
print(city_sales)

Total sales for each city:
            City  Total Sales (City)
0        Chicago             1800.00
1        Houston              835.97
2    Los Angeles              115.35
3       New York               38.85
4  San Francisco             1000.00

6. Identify the product with the highest total sales

In [13]:
product_sales = df.groupby('Product')['Total Sales'].sum()
highest_selling_product = product_sales.idxmax()
print("\nProduct with the highest total sales:")
print(highest_selling_product)

Product with the highest total sales:
ThinkPad Laptop